extends /base

block variables
  -var title = __('khalid.title')

block content

  h1 #{title}

  div
    p #{__('khalid.info')}
  
  form.cra-form(method='post')
  
    +textInput('khalid.title', null, 'form.firstname.desc')(class='w-3-4', id='firstname' name='firstname', autofocus, value=data.firstname)

    input(name='name', type='hidden', value=name)

    +formButtons()
